.root {
  padding-bottom: 64px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.inner {
  padding: 20px 20px 32px;
}

.h3 {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 37px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.row {
  padding: 32px 0;
  display: flex;
  align-items: stretch;
}

.col {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 8px;
  text-align: center;
  position: relative;
}

.bgWrapper {
  position: absolute;
}

.bgWrapper1 {
  top: -30px;
}
.bgWrapper2 {
  top: -54px;
}
.bgWrapper3 {
  top: -72px;
}
.bgWrapper4 {
  top: -50px;
}

.imgWrapper {
  height: 200px;
  width: 200px;
  flex: 0 0 200px;
  overflow: hidden;
  z-index: 2;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.desc {
  font-size: 28px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-bottom: 92px;
}

.listWrapper {
  align-self: center;
  max-width: 84%;
  width: 100%;
}

.feature {
  border: 1px solid #ffffff;
  color: #fff;
  font-size: 28px;
  line-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  line-height: 1;
  text-decoration: none;

  backdrop-filter: blur(30px) brightness(120%);
  /* background-color: #fff5; */
}

.feature:not(:last-child) {
  margin-bottom: 16px;
}
